@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Nova+Square&display=swap");
$color_1: #0605fa;
$color_2: #05fa81;
$color_3: #f9fa05;
$color_4: #fa057e;
$color_5: #fa05d5;
$color_6: #ff8c00;

body {
  box-sizing: border-box;
  margin: 0;

  font-family: "Noto Sans JP", sans-serif;
  background-color: rgb(144, 144, 144);
  //   color: white;
}

.content-container {
  position: absolute;
  display: flex;
  width: 60vw;
  align-items: center;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
}

#solve-button {
  position: relative;
  display: block;
  width: 150px;
  height: 40px;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  background-color: #9a4ef1;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.8s;
  margin-bottom: 100px;

  &:hover {
    cursor: pointer;
    border-color: rgb(12, 11, 11);
  }
}

#puzzle-title {
  position: relative;
  font-size: 5em;
  font-family: "Nova Square", cursive;
}

#title-underline {
  position: relative;
  display: block;
  width: inherit;
  height: 8px;
  background-color: red;
}

.puzzle-info {
  position: relative;
  width: 80%;
  margin-bottom: 50px;

  .info-title {
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 10px;
  }
  .info-body {
    font-size: 1.2em;
  }
}

.hex-container {
  position: relative;
  display: grid;
  justify-content: center;
  width: 820px;
  height: 820px;
  // background-color: lightblue;
  grid-template-columns: 260px 260px 260px;
  grid-template-rows: 260px 260px 260px;
}

.hexagon {
  position: absolute;
  display: inline-block;
  height: 260px;
  width: 300px;
  transform-origin: 50% 50%;
  // background-color: black;

  .triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 75px;
    border-style: solid;
    border-radius: 10px;
    border-width: 130px 75px 0;
    border-color: #19c transparent;
    transform-origin: 75px 133px;
  }
}

.hexagon {
  .triangle:nth-child(1) {
    transform: rotate(60deg);
  }
  .triangle:nth-child(2) {
    transform: rotate(120deg);
  }
  .triangle:nth-child(3) {
    transform: rotate(180deg);
  }
  .triangle:nth-child(4) {
    transform: rotate(240deg);
  }
  .triangle:nth-child(5) {
    transform: rotate(300deg);
  }
}

#hex-0 {
  grid-column-start: 2;
  grid-row-start: 2;
}

#hex-1 {
  grid-column-start: 2;
  grid-row-start: 1;
  top: -10px;
}
#hex-2 {
  grid-column-start: 3;
  grid-row-start: 1;
  transform: translate(-20px, 120px);
}
#hex-3 {
  grid-column-start: 3;
  grid-row-start: 3;
  transform: translate(-20px, -120px);
}

#hex-4 {
  grid-column-start: 2;
  grid-row-start: 3;
  top: 10px;
}

#hex-5 {
  grid-column-start: 0;
  grid-row-start: 3;
  transform: translate(40px, -120px);
}

#hex-6 {
  grid-column-start: 0;
  grid-row-start: 1;
  transform: translate(40px, 120px);
}
